
  <hgroup>
    <h1>Learning Machines</h1>
    <h2>Find out where you want to be and get there.</h2>
  </hgroup>
  <p>
    <a href="#" role="button" class="contrast">Sign Up</a>
    <a href="#" role="button">Log In</a>
  </p>
